body {
    font-family: helvetica, arial, sans-serif;
    margin: 0;
    background: #9FD2FF;
}

.container {
    padding: 20px;
    border: 1px solid #000;
    margin: 20px;
    background: white;
}

h1 {
    font-size: 3em;
    line-height: 20px;
}

h3 {
    color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.red {
    background: #ff3512;
}

.blue {
    background: dodgerblue;
}

.green {
    background: rgb(11, 164, 80);
}

.box {
    padding: 20px;
    margin-bottom: 20px;
}

.link {
    color: white;
}

.box a:hover {
    color: yellow;
}

button {
    list-style: none;
    background: wheat;
    padding: 10px;
    width: 100%;
}

button a {
    color: #2e2a2e;
    text-decoration: none;
}

button:hover {
    background: #2e2a2e;
    color: #9FD2FF;
    a {
        color: #9FD2FF;
    }
}

/* desktop */
@media (min-width: 900px) {
    .container {
        max-width: 400px;
        margin: 20px auto;
    }
}

/* grid display css goes here */

/* body { */
    /* display: grid; */
    /* grid-template-columns: 220px auto;
    grid-template-rows: 200px auto 70px;
    grid-template-areas: "logo name" "nav content" "footer footer"; */
/* } */
/* 
header {
    display: flex;
    height: 180px;
}

header img {
    grid-area: logo;
    max-width: 180px;
    padding: 10px
} */


/* .name {
    grid-area: name;
} */

/* .content {
    grid-area: content;
} */

/* nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
}

nav li a {
    color: white;
}

nav li {
    list-style-type: none;
    list-style: none;
    background: black;
    color: white;
    text-decoration: none;
    width: 160px;
    padding: 10px;
    margin-left: 30px;
    margin: 5px 0;
}

nav li:hover {
    background: #9FD2FF;
    color: #2e2a2e;
} */

/* footer {
    grid-area: footer;
    display: flex;
    align-content: center;
    padding: 10px;
    color: #FFF7E0;
    background: #2e2a2e;
}

footer img {
    height: 25px;
    justify-self: right;
    align-items: center;
    padding: 10px;
} */