body {
    font-family: helvetica, arial, sans-serif;
    margin: 0;
}

.container {
    padding: 20px;
    margin: 20px;
    margin: 0 auto;
    max-width: 500px;
}

.red {
    background: #ff3512;
}

.blue {
    background: dodgerblue;
}

.green {
    background: rgb(11, 164, 80);
}

.box {
    padding: 20px;
    margin-bottom: 20px;
}

.btn {
    width: 100%;

}
