body {
    font-family: helvetica, arial, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    position: relative;
    width: auto;
    max-width: 100%;
    padding: 60px 120px;
}

.header {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}

.logo {
    margin-right: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.imgContainer {
    width: 360px;
    height: 550px;
    flex-grow: 1;
    object-fit: contain;
    overflow: hidden;
    display: flex;
    position: relative;
    align-items:center;
    justify-content:center;
}

img {
    height: 100%;
    object-fit: cover;
}

.vert {
    width: 100%;
    height: auto;
}

.overlay {
    color: rgba(255, 255, 255, 0);
    font-weight: bold;
    font-size: 14pt;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    align-content: center;
}

.overlay:hover {
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, .5);
    transition: 0.5s;
}

/* .galleryImage {
    width: 100%;
} */

h1 {
    font-weight: bold;
    margin: 0;
}

.red {
    background: #ff3512;
}

.blue {
    background: dodgerblue;
}

.green {
    background: rgb(11, 164, 80);
}

.orange {
    background: rgb(255, 132, 0);
}

.box {
    padding: 20px;
    margin-bottom: 20px;
}

.btn {
    width: 100%;

}
